<% count = count_my_active_tickets(current_user)%>
<div class="well">
	<% if count %>
  <p><%= count_my_active_tickets(current_user) %> New tickets</p>
  <% end %>
</div>
<div class="well">
	<p>ADS</p>
</div>
