<h1>Agents Home</h1>
	<div>
		<ul>
		  <li><%= link_to 'View profile', agents_path  %></li>
		  <li><%= link_to 'View tickets', tickets_path  %></li>
		</ul>
	</div>

	<!--
	<div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">Tickets</div>
            <div class="panel-body">
                <p>tickets list</p>
            </div>
            <div class="panel-footer">
            	View ticket history
            </div>
        </div>
    </div>
    -->