<h1>ADGK-Property in Mt. Everest</h1>
<body>
	<p>
		<h4>OUR LOCATION</h4><br>
	ADGK Properties 
	<p> 	
	Mynder Ave
	<p> Memphis, TN,38111 <br>
	<p>
	Phone: 901.678.0011<br>
	<p>
	Email: admin@adgk.com
	</p>

	<p>
	<h4>IMPORTANT NUMBERS</h4><br>
	<p> 
	Rent Payment: 901.678.0012
	<p>
	Maintainance Service: 901.678. 0013
	<p>
	Parking Ticket: 901.678.0014
	</p>
</body> 