<h1>ADGK-Property in Mt. Everest</h1>
<body>
	<p>Hello and welcome to the Fantasy apartments in Mt. Everest! We have different units available for rent with reasonable prices.<br>
	The apartments are located at the top of the world. You will have an opportunity to enjoy the freezing environment and also <br>
	you will get chance to experience how it feels in the altitude where there is oxygen deficiency. This could be the right<br> apartment if you are a nature lover.
	</p>
	<div>
		


		<img src="/assets/apts.jpg"  />
		<div>&nbsp;</div>
		<img src="/assets/mteverest.jpg"  />
		<p>
			sources:
			<ul>
			  <li><a href="https://www.flickr.com/photos/atdisneyagain/11638843044/in/photolist-iJu7xE-7j8pEb-dgB8HY-gvMBq-edAmvj-diNTD6-eduDRZ-nqWCyr-5AbxVn-8t63Wr-aSqQdM-c54abE-88ohNF-hbLQwi-bV2KnD-mnihgT-b3m4LT-nExLhh-bhWSFV-qJwHtB-qpZLod-r8xvYw-qJajh7-4L7SML-e25Sj7-oY2n7t-5MigiW-auWJGu-et8AuP-q7tyQx-pua2XN-4Ba3nE-nkqLwd-2PDUgN-8rkEQV-qqSQAH-7iZ9R6-9XYXpD-qNmRoa-c9Hz17-8caeiy-c9HyLL-pjNdrs-jiW1ps-diNKNE-mnj1c4-dSdZkw-nASqqb-qKSPrV-pvt7yy">atdisneyagain</a></li>
			  <li><a href="https://www.flickr.com/photos/trebbyeah/6866928229/in/photolist-bsNNwi-7PeRG9-4xMLeh-b3VLdT-ftBg9-7CzwNg-4xHCxr-4xHCRV-7xfbRk-5Yxi3y-4xHyUt-4xMQGs-dYsENy-7uico1-7GVJ2d-q8YGVX-q7e7pT-4Fmspb-nLfn3H-6XDv6E-4FmtXs-b3VLFc-7PaRRR-BEMzs-bz8STv-4FmtzU-4xj55E-4xMQMU-7PeRyA-4dQmu5-dYmY1Z-67S4H9-5TqUq4-4xiTgh-qtCEoQ-9zD2jE-67MDoX-4xMPYE-fwmD2P-BEGs8-4AZBXK-A8VkT-4xHDji-7Af4V6-4xj5Po-bme3mw-4xiVvG-qFJPZ5-bmecqd-b3VNCF">trebbyeah</a></li>
			  <li><a href="https://www.flickr.com/photos/unioz/17971020624/in/photolist-nWGcgC-nEjHrW-nWPaZD-nWPbKX-nWPbAD-nWvTyH-nWP9a6-aVd8KF-aDK2N1-dvLW8z-8cE3sk-4GFhpQ-Mn17Z-7m6UMu-moMJ39-to3bkb-MmUeA-8yA5e9-MmjBD-MmigR-MmKeY-nWNYix-dUREUk-nWPdcz-boGas9-nEjDYo-nEkwyt-bzMxDn-nEiygn-nWHkwq-bC9HZk-nULr6E-aVd8En-nEiwCb-nEjHHN-nEjjPa-nEjmZx-2H5GsA-nWuVfv-nEjHds-FmeJh-nEjQmY-2H22hr-FmkUQ-bBB4ot-nWvXvv-aVd97D-5LQF4Q-Fmaep-bmSKHY/">unioz</a></li>
			</ul>
		</p>
	</div>
</body>